# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio captures folder
captures/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries
.idea/libraries
.idea/caches

.idea/runConfigurations.xml

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Keystore
*.jks
keystore.properties
